<!-- carousel slideshow -->
       <!-- images -->
       <div id="carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
               <div class="carousel-item active">
                 <img src="assets/carousel3.jpg" class="img-fluid" height="400px" width="1080px">
               </div>
               <div class="carousel-caption">
                 <h4><marquee><b>"Online learning is not the next big thing,it is the easy thing."</b></marquee></h4>
               </div>
               <div class="carousel-item">
                   <img src="assets/carousel4.jpg" class="img-fluid" height="400px" width="1080px">
               </div>
               <div class="carousel-item">
                   <img src="assets/carousel1.jpeg" class="img-fluid" height="400px" width="1080px">
               </div>
               <div class="carousel-item">
                   <img src="assets/carousel2.jpg"  class="img-fluid" height="400px" width="1080px">
               </div>
          </div>
                       
             <!-- previous and next buttons -->
            <a class="carousel-control-prev" href="#carousel" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#carousel" data-slide="next">
               <span class="carousel-control-next-icon"></span>
             </a>
           
               <!-- indicators -->
               <ul class="carousel-indicators">
                 <li data-target="#carousel" data-slide-to="0" class="active"></li>
                 <li data-target="#carousel" data-slide-to="1"></li>
                 <li data-target="#carousel" data-slide-to="2"></li>
                 <li data-target="#carousel" data-slide-to="3"></li>
               </ul>
           
           </div>
           
        
           
           
                                  
                         
           
     <!-- cards and carddecks -->
     <div class="container">
      <div class="jumbotron mt-3">
         <div class="card-deck">
           <div class="card">
              <div class="card-body">
                 <img src="assets/c.png" height="120px" class="image-fluid" width="120px">
                <p><b>Welcome to c</b></p>
                <button type="button" routerLink="c" class="btn btn-success"><b>Show</b></button>
             </div>
                            
           </div>
         
         <div class="card">
         <div class="card-body">
               <img src="assets/java.jpg"height="100px" width="120px" class="image-fluid">
               <p><b>Welcome to Java</b></p>
              <button type="button"  routerLink="java" class="btn btn-success"><b>Show</b></button>
         </div>
         </div>
         <div class="card">
          <div class="card-body">
             <img src="assets/angular.png"height="100px" width="120px" class="image-fluid">
             <p><b>Welcome to Angular</b></p>
              <button type="button" routerLink="angular" class="btn btn-success"><b>Show</b></button>
         </div>
         </div>
  
         <div class="card">
        <div class="card-body">
          <img src="assets/mean.png" height="100px" width="100px" class="image-fluid">
          <p><b>Welcome to MEANSTACK</b></p>
          <button type="button" routerLink="meanstack" class="btn btn-success"><b>Show</b></button>
       </div>
      </div>
  </div>
  </div>
  </div>
                      
                     
               
                       
                           
           <!-- AboutUs and contactus -->
           <div class="jumbotron">
           <div class="row">
               <div class="col-sm-2"></div>
             <div class="col-sm-4">
               <p class="text-success"><b>AboutUs:</b></p>
               <P><b>MobileNo:987654321</b></P>
               <p><b>Email:Coursewala@gmail.com</b></p>
               <p><b>Facebook:www.facebook.com/coursewala</b></p>
             </div>
             <div class="col-sm-4">
               <p class="text-success"><b>ContactUs:</b></p>
               <img src="assets/fb.png" height="50px" width="50px">
               <img src="assets/tw.png" height="50px" width="50px" class="ml-2">
               <img src="assets/insta.png" height="50px" width="50px" class="ml-2">
             </div>
             <div class="col-sm-2"></div>
           </div>
           </div>
           
          
  
            <router-outlet></router-outlet> -->