<div class="container">
  <div class="jumbotron">
  <img src="assets/why1.jpg" height="500px" width="900px">
    <div class="row mt-5">
      <div class="col-2">

      </div>
      <div class="col-8" bg-info style="color:black">
        <h4><b>Uses Of Online courses:</b></h4>
        <p class="">The current challenges facing traditional colleges and universities — including higher tuition, budget cuts,
           and course shortages — cause many students to search for alternatives.With nearly three million students currently enrolled in fully online programs and six million taking at least one online course as part of their degree, online education has clearly become one of the most popular higher education alternatives. 
           The continually improving reputation of online learning helped fuel its expansion, as initial skepticism faltered in the 
           face of evidence showing that online learning can be just as effective as face-to-face education.</p>
           <p>
              With nearly three million students currently enrolled in fully online programs and six million taking at least one online course as part of their degree, online education has clearly become one of the most popular higher education alternatives. The continually improving reputation of online learning helped fuel its expansion, as initial skepticism faltered in
               the face of evidence showing that online learning can be just as effective as 
               face-to-face education.
           </p>
           <div class="mt-2">
             <h4><b>Top Ten Uses Of Online Courses:</b></h4>
             <ol>
               <li>Variety of programs and courses.</li>
               <li>Lower total costs</li>
               <li>More comfortable learning environment</li>
               <li>Convenience and flexibility</li>
               <li>More interaction and greater ability to concentrate</li>
               <li>Career advancement.</li>
               <li>Continue in your profession</li>
               <li>Avoid commuting</li>
               <li>Improve your technical skills.</li>
               <li>Transfer credits.</li>
             </ol>
           </div>

      </div>
      <div class="col-2"></div>
    </div>
  </div>
  </div> 
    

