<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

    <li><a routerLink="adminview" class="navbar-brand"><img src="https://thumbs.dreamstime.com/b/cw-c-w-letter-logo-shattered-broken-blue-pink-texture-desig-triangles-design-vector-illustration-91807358.jpg" height="60" width="60"></a></li>

    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#x">
          <span class="navbar-toggler-icon"></span>
        </button>
   

<div class="collapse navbar-collapse" id="x">

  <ul class="navbar-nav">
    
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="course"><b>Course</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="purchases"><b>Purchases</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="customers"><b>Customers</b></a>
    </li>
    
       <li class="nav-item">
        <a routerLink="" class="nav-link text-white"><b>Logout</b></a>
       </li>
      
  </ul>
  
</div> 
</nav>

<router-outlet></router-outlet>
