
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 mt-5 bg-info">
        <h1 class="text-center">CART</h1>
       <table class="table table-striped">
         <thead>

             
             <th><b>CourseName</b></th>
             <th><b>Cost</b></th>
             <th><b>Buy</b></th>
             
             
         </thead>
         <tr *ngFor="let i of data">
          
             <td>{{i.coursename}}</td>
             <td>{{i.price}}</td>
             <td><button type="button" class="btn btn-success">Buy</button></td>

         </tr>
                    
       </table>


    </div>
    <div class="col-sm-4"></div>
</div>



