








    <div class="container">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            
            <p>
                C is a high-level and general-purpose programming language that is ideal for developing firmware or portable applications.
                Originally intended for writing system software, C was developed at Bell Labs by Dennis Ritchie for the Unix Operating System 
                in the early 19 Ranked among the most widely used languages, C has a compiler for most computer systems and has influenced many 
                popular languages – notably C++.
            </p>
            <table>
                <form #ref="ngForm">
                <tr>
                    <td>
                        <label for="Nine">Sample File:</label>
                    </td>
                    <td>
                        <input type="file" id="Nine" name="name"   class="form-inline">
                    </td>
                    <td><button type="button" (click)="downloadPdf()" class="btn btn-success">Download</button></td>
                
                </tr>
                <tr>
                    <td class="mt-3"><label class="mt-3">Actual Document:</label></td>
                    <td><a routerLink="login">Download</a></td>
                </tr>
            </form>
            </table>

        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
    
  <!-- <router-outlet></router-outlet> -->