<div class="container">
        <div class="row mt-5">
          <h1 class="mx-auto" style="color:chocolate">C Language</h1>
        </div>
        <div class="row mt-4">
          <div class="col-sm-8">
              <p>C is a general-purpose, procedural, imperative computer programming language developed in 1972 by Dennis M. Ritchie 
                  at the Bell Telephone Laboratories to develop the UNIX operating system.  C is the most widely used computer language.
                  It keeps fluctuating at number one scale of popularity along with Java programming language,
                   which is also equally popular and most widely used among modern software programmers.</p>
                <p>Prerequisites
                    Before proceeding with this tutorial, you should have a basic understanding of Computer Programming terminologies.
                     A basic understanding of any of the programming languages will help you in understanding the C programming concepts 
                     and move fast on the learning track.</p>
                <p><h2 style="color: rgb(9, 58, 150)">Facts about C</h2>
                  <p>C was invented to write an operating system called UNIX.</p>
                    
                  <p>C is a successor of B language which was introduced around the early 1970s.</p>
                    
                  <p>The language was formalized in 1988 by the American National Standard Institute (ANSI).</p>
                    
                  <p>The UNIX OS was totally written in C.</p>
                    
                  <p>Today C is the most widely used and popular System Programming Language.</p>
                    
                  <p>Most of the state-of-the-art software have been implemented using C.</p>
                    
                  <p>Today's most popular Linux OS and RDBMS MySQL have been written in C.</p>
          </div>
          <div class="col-sm-4">
            <img src="assets/c.png" class="mx-auto d-block" width="200px" height="200px">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
           
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <table class="table table-striped">
            <thead>
              <th>coursename</th>
              <th>price</th>
              <th>Add</th>
            </thead>
            <tr *ngFor="let i of data">
                   <td>{{i.coursename}}</td>
                   <td>{{i.price}}</td>
                   <td> <button type="button" (click)="addCart(i)" class="btn btn-success">AddtoCart</button></td>
            </tr>
          </table>

        </div>
        <div class="col-sm-3"></div>
        
      </div>
      <router-outlet></router-outlet>