
<div class="container-fluid">
<div class="card">
    <div class="row mt-4">
        <div class="col-sm-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Dennis_Ritchie_2011.jpg/220px-Dennis_Ritchie_2011.jpg"
         width="238" height="300" alt="Image of author" class="rounded pl-3 pb-3">

        </div>
        <div class="col-sm-8">
            <h1>Dennis Ritche</h1>
               <p class="mt-4"> Ritchie is best known as the creator of the C programming language, a key developer of the Unix operating system, and co-author of the book The C Programming Language; he was the 'R' in K&R. 
                Ritchie worked together with Ken Thompson,who is credited with writing the original version of Unix; one of Ritchie's most important contributions to Unix was its porting to different machines and platforms.
                They were so influential on Research Unix that Doug McIlroy later wrote, "The names of Ritchie and Thompson may safely be assumed to be attached to almost everything not otherwise attributed."</p>

               
                </div>
    </div>
    </div>

    <div class="card">
    <div class="row">
        <div class="col-sm-4">
                <img src="https://pbs.twimg.com/media/Db17T0yWsAAE0t-.jpg" height="300" width="238" alt="Image of author" class="rounded pl-3 pb-3 pt-3">
        </div>
        <div class="col-sm-6">
                <h1 class="mt-4">Bjarne Stroustrup</h1>
                <p class="mt-4"> Before the initial standardization in 1998, C++ was developed by Bjarne Stroustrup at Bell Labs since 1979,
                as an extension of the C language as he wanted an efficient and flexible language similar to C, 
               which also provided high-level features for program organization. </p>  
               <p>Stroustrup was the head of AT&T Bell Labs' Large-scale Programming Research department, from its creation until late 2002. Stroustrup was elected member of the National Academy of Engineering in 2004. 
                </p>   
                 
        </div>

    </div>
    </div>

    <div class="card">
            <div class="row">
                <div class="col-sm-4">
                        <img src="http://nighthacks.com/jag/bio/JamesInViennaEnjoyingBeer.jpg" width="238" height="300" class="rounded pl-3 pb-3 pt-3" alt="Image of author">     
                </div>
                <div class="col-sm-6">
                        <h1 class="mt-4">James Gosling</h1>
                        <p class="mt-4"> 
                                Gosling was with Sun Microsystems between 1984 and 2010. He is known as the father of the Java programming language.
                                He got the idea for the Java VM while writing a program to port software from a PERQ by translating Perq Q-Code to VAX assembler and emulating the hardware.
                                 He left Sun Microsystems on April 2, 2010 after it was acquired by the Oracle Corporation, citing reductions in pay, status, and decision-making ability,
                                  along with change of role and ethical challenges. 
                        </p>   
                         
                </div>
        
            </div>
            </div>

            <div class="card">
                    <div class="row">
                        <div class="col-sm-4">
                       <img src="https://pluralsight.imgix.net/author/lg/deborah-kurata-v1.jpg?w=200" 
                        height="300" width="238"  class="rounded pl-3 pb-3 pt-3" alt="Image of author">       
                        </div>
                        <div class="col-sm-6">
                                <h1 class="mt-4"> Deborah Kurata</h1>
                                <p class="mt-4"> 
                                        Deborah Kurata is a software developer, consultant, conference speaker, and Pluralsight author. For her work in support
                                         of software developers, she has been recognized with the Microsoft Most Valuable Professional (MVP) award and is a Google
                                          Developer Expert (GDE). Deborah focuses on Angular, TypeScript, C#, and Microsoft .NET technologies. She has authored several books,
                                           including the "Doing Objects" series (Addison-Wesley).   
                                </p>   
                                 
                        </div>
                
                    </div>
                    </div>
        
   
                        
    

    </div>


