

    <h1 class="text-center"><marquee><b>CourseWala</b></marquee></h1>
  <nav class="navbar navbar-expand-sm  fixed-top navbar-dark bg-dark">

        <li>
          <a routerLink="nu" class="navbar-brand"><img src="https://thumbs.dreamstime.com/b/cw-c-w-letter-logo-shattered-broken-blue-pink-texture-desig-triangles-design-vector-illustration-91807358.jpg" height="60" width="60"></a>
        </li>

        <div class="navabr-header">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#a">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>

      <div id="a" class="collapse navbar-collapse">
        
        <ul class="navbar-nav">
          <a class="navbar-brand" href=""> </a>
          <li class="nav-item" >
            <a routerLink="home" class="nav-link active text-white"><b>Home</b> </a>
          </li>
  
          <li class="nav-item">
            <a routerLink="ythis" class="nav-link text-white"><b>Whythis</b></a>
          </li>
  
          <li class="nav-item">
            <div class="dropdown">
              <a class="dropdown-toggle nav-link text-white" href="" data-toggle="dropdown"><b>Courses</b></a>
              <div class="dropdown-menu">
                <a href="" class="dropdown-item"><b>C</b></a>
                <a href="" class="dropdown-item"><b>Java</b></a>
                <a href="" class="dropdown-item"><b>Angular</b></a>
                <a href="" class="dropdown-item"><b>MEANSTACK</b></a>

            
              </div>
            </div>
          </li>
  
          <li class="nav-item">
            <a routerLink="authors" class="nav-link text-white"><b>Authors</b> </a>
          </li>

          
            

          <li class="nav-item">
            <a routerLink="login" class="nav-link text-white"><b>Login</b> </a>
          </li>
  
          <li class="nav-item">
            <a routerLink="register" class="nav-link text-white"  ><b>Register</b></a>
          </li>
  
        </ul>
      </div>
    </nav>
 


  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
    
  
  
      
